<!-- header-start -->
<header>
  <div class="header-area ">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid p-0">
        <div class="row align-items-center no-gutters">
          <div class="col-xl-2 col-lg-2">
            <div class="logo-img">
              <a href="/">
                <img src="/img/logo.png" alt="" id="logo-size" />
              </a>
            </div>
          </div>
          <div class="col-xl-7 col-lg-7">
            <div class="main-menu  d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a class="active" href="/dashboard">home</a></li>
                  <li><a href="/postAll">View</a></li>
                  <li><a href="/makepost">Make a Post</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <% if(user){ %>
          <div class="col-xl-3 col-lg-3 d-none d-lg-block">
            <div class="log_chat_area d-flex align-items-center">
              <a href="/users/logout" class="login">
                <i class="flaticon-user"></i>
                <span>Logout</span>
              </a>
              <div class="live_chat_btn">
                <a class="boxed_btn_orange" href="#">
                  <i class="fa fa-phone"></i>
                  <span>+91 750 607 5434</span>
                </a>
              </div>
            </div>
          </div>
          <% } else{ %>
          <div class="col-xl-3 col-lg-3 d-none d-lg-block">
            <div class="log_chat_area d-flex align-items-center">
              <a href="/users/login" class="login">
                <i class="flaticon-user"></i>
                <span>log in</span>
              </a>
              <div class="live_chat_btn">
                <a class="boxed_btn_orange" href="#">
                  <i class="fa fa-phone"></i>
                  <span>+91 750 607 5434</span>
                </a>
              </div>
            </div>
          </div>
          <% } %>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header-end -->
