<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="/api/signup">Sign-up</a>
  <a href="/api/signin">Sign-in</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<!--hamburger toggle scripts-->
<script src="/js/main.js"></script>
