<%- include('./partials/navbar') %>

<!-- slider_area_start -->
<div class="slider_area ">
  <div
    class="single_slider d-flex align-items-center justify-content-center slider_bg_1"
  >
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-6 col-md-6">
          <div class="illastrator_png">
            <img src="/img/banner/edu_ilastration.png" alt="" />
          </div>
        </div>
        
          <div class="search_from col-xl-6  col-md-6 col-lg-6">
            <div class="search_box">
              <h1>Search Panel</h1>
              <form action="#" class="search_box">
                <input type="text" placeholder="Enter your mail" />
                <button type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider_area_end -->

<div class="container-fluid">
  <h1 class="mt-4">Dashboard</h1>
  <p class="lead mb-3">Welcome <%= user.name %></p>
  <a href="/users/logout" class="btn btn-secondary">Logout</a>
</div>
