<section>
  <article>
    <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>
      <a href="/api/signup">Sign-up</a>
      <a href="/api/signin">Sign-in</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div id="particles-js"></div>

    <div class="hero-content text-center">
      <h1 style="position: relative; overflow: hidden; color: #ffffff;">
        M-Bias
      </h1>
      <img class="hero-banner" src="/img/edu_illustration.png" alt="..." />
    </div>
  </article>
</section>

<div class="clear"></div>

<div class="container">
  <h2 class="text-dark heroText">
    <span style="color: blue;">M-Bias</span> a Digital Content Platform,
    Specifically tailoered for HSC Students directly alligned with thier text
    books and easily accessible at their finger tips with just a QR Code scan.
  </h2>
</div>

<div class="clear"></div>

<section>
  <article class="info">
    <div class="info-content">
      <p class="text-center col-sm-7 col-md-7">
        <span class="text-dark">M-Bias</span><br />
        We want to lead in generating practical quality content that helps
        students in understanding the world around us and logically improve our
        community.
      </p>
      <img class="info-pic col-sm-3 col-md-3" src="/img/mission.png" alt="" />
    </div>
  </article>
</section>

<div class="clear"></div>

<section>
  <article class="vision-banner">
    <div class="vision-content">
      <img class="vision-pic col-sm-3 col-md-3" src="/img/vision.png" alt="" />
      <p class="text-center col-sm-7 col-md-7">
        <span class="text-light">Our Vision</span><br />
        Our Vision is to give our next generation what we missed in our
        education system in past few decades, A new perspective of how education
        relates to our daily life.
      </p>
    </div>
  </article>
</section>

<section>
  <article class="smart-banner">
    <div class="smart-content">
      <p class="text-center">
        <span class="text-dark">Smart and simple</span><br />
        We want to lead in generating practical quality content that helps
        students in understanding the world around us and logically improve our
        community.
      </p>
      <div class="container text-center">
        <img class="smart-pic col" src="/img/demo.png" alt="" />
      </div>
    </div>
  </article>
</section>

<!-- Footer -->
<footer class="page-footer font-small bg-dark text-light m-0 py-3">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">M-Bias</h5>
        <p>
          M-Bias is a Digital Content Platform, Specifically tailoered for HSC
          Students directly alligned with thier text books and easily accessible
          at their finger tips with just a QR Code scan.
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5>Online Education</h5>

        <ul class="list-unstyled">
          <li>
            <span>Video Lecture</span>
          </li>
          <li>
            <span>Exams</span>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5>Payments Accepted</h5>

        <ul class="list-unstyled">
          <li>
            <span>Google Pay</span>
          </li>
          <li>
            <span>Net Banking</span>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <span> M-Bias</span>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!--hamburger toggle scripts-->
<script src="/js/main.js"></script>

<!--particles.js script-->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<script>
  particlesJS.load('particles-js', '/js/particles.json', function () {
    console.log('callback - particles.js config loaded');
  });
</script>
