<!-- form itself end-->
<form
  action="../users/login"
  method="POST"
  id="test-form"
  class="white-popup-block "
>
  <div class="popup_box ">
    <div class="popup_inner">
      <div class="logo text-center">
        <a href="../api">
          <img src="../img/form-logo.png" alt="" />
        </a>
      </div>
      <h3>Sign in</h3>
      <% include ./partials/messages %>
      <form>
        <div class="row">
          <div class="col-xl-12 col-md-12">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter email"
            />
          </div>
          <div class="col-xl-12 col-md-12">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
            />
          </div>
          <div class="col-xl-12">
            <button type="submit" class="boxed_btn_orange">Sign in</button>
          </div>
        </div>
      </form>
      <p class="doen_have_acc">
        Don’t have an account?
        <a class="dont-hav-acc" href="../users/register">Sign Up</a>
      </p>
    </div>
  </div>
</form>
<!-- form itself end -->
