<!-- form itself end-->
<form id="test-form2" action="../users/register" method="POST">
  <div class="popup_box ">
    <div class="popup_inner">
      <div class="logo text-center">
        <a href="../api">
          <img src="../img/form-logo.png" alt="" />
        </a>
      </div>
      <h3>Resistration</h3>
      <% include ./partials/messages %>
      <form>
        <div class="row">
          <div class="col-xl-12 col-md-12">
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="col-xl-12 col-md-12">
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="col-xl-12 col-md-12">
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="col-xl-12 col-md-12">
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <div class="col-xl-12">
            <button type="submit" class="boxed_btn_orange">Sign Up</button>
          </div>
        </div>
      </form>
      <p class="doen_have_acc">
        Have An Account? <a href="/users/login">Login</a>
      </p>
    </div>
  </div>
</form>
<!-- form itself end -->
