<!-- This page is not in use -->
<div class="container-fluid p-4">
  <div class="jumbotron">
    <h1 class="display-4">M-Bias</h1>
    <p class="lead">
      M-Bias is a Digital Content Platform, Specifically tailoered for HSC
      Students directly alligned with thier text books and easily accessible at
      their finger tips with just a QR Code scan.
    </p>
    <hr class="my-4" />
    <p>
      To learn more about us click Learn more.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>

<div class="container">
  <h3>Mission</h3>
  <p>
    We want to lead in generating practical quality content that helps students
    in understanding the world around us and logically improve our community.
  </p>
</div>
<div class="container">
  <h3>Vision</h3>
  <p>
    Our Vision is to give our next generation what we missed in our education
    system in past few decades, A new perspective of how education relates to
    our daily life.
  </p>
</div>
<div style="align-items: center;">
  <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    data-setup="{}"
  >
    <source src="/files/<%= file.name %>" type="video/mp4" />
    <source src="/files/<%= file.name %>" type="video/mov" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>
</div>
