<nav class="navbar navbar-expand-md navbar-custom navbar-dark fixed-top">
  <div class="container">
    <div class="page-scroll">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExample09"
        aria-controls="navbarsExample09"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="index.html">M-Bias</a>
    </div>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarsExample09"
    >
      <ul class="nav navbar-nav ">
        <li class="hidden">
          <a href="#page-top" class="nav-link"></a>
        </li>
        <li class="page-scroll">
          <a href="#why" class="nav-link">M-Bias?</a>
        </li>
        <li class="page-scroll">
          <a href="#who" class="nav-link">About</a>
        </li>
        <li class="page-scroll">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
        <li class="page-scroll">
          <a href="users/register" class="nav-link">Register</a>
        </li>
        <li class="page-scroll">
          <a href="users/login" class="nav-link">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>

<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <h1 class="brand-heading">M-BIAS</h1>
          <p class="intro-text">
            <strong>Mechanical Bias</strong> is one of the org which is ai_ed in
            achieving and redefining new ways to understand things better.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="why" class="container content-section">
  <h2 class="text-center">M-Bias?</h2>
  <p class="text-center">
    <strong>Mechanical Bias</strong> for all of your digital marketing
    needsDirect to the point we are one of the _ode by who_ you can learn
    yourself from the textbook itself and in a practical way
  </p>
  <br />
  <div class="row">
    <div class="col-lg-4">
      <div class="block block-icon-left">
        <div class="icon">
          <i class="fa fa-briefcase fa-5x"></i>
        </div>
        <div class="icon-content">
          <h3>Professional</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="block block-icon-left">
        <div class="icon">
          <i class="fa fa-money fa-5x"></i>
        </div>
        <div class="icon-content">
          <h3>Low Cost</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="block block-icon-left">
        <div class="icon">
          <i class="fa fa-dashboard fa-5x"></i>
        </div>
        <div class="icon-content">
          <h3>Fast</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="block block-icon-left">
        <div class="icon">
          <i class="fa fa-gear fa-5x"></i>
        </div>
        <div class="icon-content">
          <h3>Resources & Tools</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="block block-icon-left">
        <div class="icon">
          <i class="fa fa-users fa-5x"></i>
        </div>
        <div class="icon-content">
          <h3>Large Community</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="block block-icon-left">
        <div class="icon">
          <i class="fa fa-book fa-5x"></i>
        </div>
        <div class="icon-content">
          <h3>Online Courses</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="who" class="content-section text-center">
  <div class="who-section">
    <h2>Who Are We?</h2>
    <p class="lead">
      <strong>Digital Agency</strong> is one of the lead digital marketing firms
      on the east coast. We are made up of seasoned professionals with a ton of
      experience.
    </p>
    <a href="#contact" class="btn btn-light btn-lg">Contact Us Now</a>
  </div>
</section>

<section id="contact" class="content-section text-center">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-xl-8 xl-offset-2">
      <h2>Contact M-Bias</h2>
      <p>
        Feel free to shoot us an email any time for any reason. You can also
        follow us on Twitter, Facebook and Google+
      </p>
      <p>contact@mbias.com</p>
      <ul class="list-inline banner-social-button">
        <li class="list-inline-item">
          <a href="#" class="btn btn-light btn-lg">
            <i class="fa fa-twitter fa-fw"></i>
            Twitter</a
          >
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-light btn-lg">
            <i class="fa fa-facebook fa-fw"></i>
            Facebook</a
          >
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-light btn-lg">
            <i class="fa fa-google-plus fa-fw"></i>
            Google+</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>

<footer>
  <p>M-Bias &copy; 2019, All Rights Reserved</p>
</footer>
