<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="page-scroll">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExample09"
      aria-controls="navbarsExample09"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"
      ><img src="/images/logo.jpg" id="logo-mbais" alt="LOGO"
    /></a>
  </div>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarsExample09"
  >
    <ul class="nav navbar-nav ">
      <li class="hidden">
        <a href="#page-top" class="nav-link"></a>
      </li>
      <li class="page-scroll">
        <a href="#who" class="nav-link">About</a>
      </li>
      <li class="page-scroll">
        <a href="#contact" class="nav-link">Contact</a>
      </li>
      <li class="page-scroll">
        <a href="users/register" class="nav-link">Register</a>
      </li>
      <li class="page-scroll">
        <a href="users/login" class="nav-link">Sign In</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-4">
  <div class="jumbotron">
    <h1 class="display-4">M-Bias</h1>
    <p class="lead">
      M-Bias is a Digital Content Platform, Specifically tailoered for HSC
      Students directly alligned with thier text books and easily accessible at
      their finger tips with just a QR Code scan.
    </p>
    <hr class="my-4" />
    <p>
      To learn more about us click Learn more.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>

<div class="container">
  <h3>Mission</h3>
  <p>
    We want to lead in generating practical quality content that helps students
    in understanding the world around us and logically improve our community.
  </p>
</div>
<div class="container">
  <h3>Vision</h3>
  <p>
    Our Vision is to give our next generation what we missed in our education
    system in past few decades, A new perspective of how education relates to
    our daily life.
  </p>
</div>
<div class="col-lg-9 offset-lg-1 col-xl-8 xl-offset-2">
  <div class="row">
    <h2>Contact M-Bias</h2>
    <p>
      Feel free to shoot us an email any time for any reason. You can also
      follow us on Twitter, Facebook and Google+
    </p>
    <p>contact@mbias.com</p>
    <ul class="list-inline banner-social-button">
      <li class="list-inline-item">
        <a href="#" class="btn btn-light btn-lg">
          <i class="fa fa-twitter fa-fw"></i>
          Twitter</a
        >
      </li>
      <li class="list-inline-item">
        <a href="#" class="btn btn-light btn-lg">
          <i class="fa fa-facebook fa-fw"></i>
          Facebook</a
        >
      </li>
      <li class="list-inline-item">
        <a href="#" class="btn btn-light btn-lg">
          <i class="fa fa-google-plus fa-fw"></i>
          Google+</a
        >
      </li>
    </ul>
  </div>
</div>

<footer>
  <p>M-Bias &copy; 2019, All Rights Reserved</p>
</footer>
