<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="page-scroll">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExample09"
      aria-controls="navbarsExample09"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"
      ><img src="/images/logo.jpg" id="logo-mbais" alt="LOGO"
    /></a>
  </div>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarsExample09"
  >
    <ul class="nav navbar-nav ">
      <li class="hidden">
        <a href="#page-top" class="nav-link"></a>
      </li>
      <li class="page-scroll">
        <a href="#who" class="nav-link">About</a>
      </li>
      <li class="page-scroll">
        <a href="#contact" class="nav-link">Contact</a>
      </li>
      <li class="page-scroll">
        <a href="users/register" class="nav-link">Register</a>
      </li>
      <li class="page-scroll">
        <a href="users/login" class="nav-link">Sign In</a>
      </li>
    </ul>
  </div>
</nav>

<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <h1 class="brand-heading">M-BIAS</h1>
          <p class="intro-text">
            <strong>Mechanical Bias</strong> is one of the org which is ai_ed in
            achieving and redefining new ways to understand things better.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="content-section text-center">
  <div class="col-lg-9 offset-lg-1 col-xl-8 xl-offset-2">
    <div class="row">
      <h2>Contact M-Bias</h2>
      <p>
        Feel free to shoot us an email any time for any reason. You can also
        follow us on Twitter, Facebook and Google+
      </p>
      <p>contact@mbias.com</p>
      <ul class="list-inline banner-social-button">
        <li class="list-inline-item">
          <a href="#" class="btn btn-light btn-lg">
            <i class="fa fa-twitter fa-fw"></i>
            Twitter</a
          >
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-light btn-lg">
            <i class="fa fa-facebook fa-fw"></i>
            Facebook</a
          >
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-light btn-lg">
            <i class="fa fa-google-plus fa-fw"></i>
            Google+</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>

<footer>
  <p>M-Bias &copy; 2019, All Rights Reserved</p>
</footer>
