html,
body,
* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0px;
  font-size: large;
}

ol {
  font-size: large;
}

strong {
  font-weight: 800;
  font-size: large;
}

td,
th {
  font-size: medium;
}

small {
  font-size: medium;
}

blockquote {
  font-style: italic;
  font-size: larger;
  text-align: center;
  font-weight: 700;
  padding: 0.5em;
}

.hero-content,
.vision-banner {
  height: 100%;
  background-image: linear-gradient(
    rgb(3, 0, 190),
    rgb(104, 0, 136),
    rgb(136, 0, 91)
  );
}
